= simple_form_for(nutrient, html: { class: '' }) do |form|
  = form.input :name
  = form.input :description
  = form.input :unit
  = form.input :is_limiting
  = form.button :submit, class: "btn btn-success"
