- if nutrients && nutrients.size > 0
  %table.table.table-hover
    %thead.thead-light
      %tr
        %th ID
        %th Name
        %th Description
        %th Source
        %th Unit
        %th Limiting?
    %tbody
      - nutrients.each do |nutrient|
        %tr.clickable{ 'onclick': "window.location = '#{nutrient_path(nutrient)}'" }
          %td
            = link_to nutrient.id, nutrient_path(nutrient)
          %td
            = nutrient.name
          %td
            = nutrient.description
          %td
            = link_if_present(nutrient.source, 'Source', '')
          %td
            = nutrient.unit
          %td
            = nutrient.is_limiting ? 'Yes' : 'No'
- else
  %p.lead No Nutrients Available


