%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'CavEat', :home, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      = nav_link('Foods', :foods)
      = nav_link('Ingredients', :ingredients)
      = nav_link('Nutrients', :nutrients)
      = nav_link('Users', :users)
