= simple_form_for(ingredient, html: { class: '' }) do |form|
  = form.input :name
  = form.input :composition
  = form.input :description
  = form.input :is_warning
  = form.button :submit, class: "btn btn-success"
