- if ingredients && ingredients.size > 0
  %table.table.table-hover
    %thead.thead-light
      %tr
        %th ID
        %th Name
        %th Composition
        %th Description
        %th Source
        %th Warning?
    %tbody
      - ingredients.each do |ingredient|
        %tr.clickable{ 'onclick': "window.location = '#{ingredient_path(ingredient)}'" }
          %td
            = link_to ingredient.id, ingredient_path(ingredient)
          %td
            = ingredient.name
          %td
            = ingredient.composition
          %td
            = ingredient.description
          %td
            = link_if_present(ingredient.source, 'Source', '')
          %td
            = ingredient.is_warning ? 'Yes' : 'No'
- else
  %p.lead No Ingredients Available


