- if ingredients && ingredients.size > 0
  %table.table
    %thead
      %tr
        %th ID
        %th Name
        %th Compoosition
        %th Description
        %th Warning?
    %tbody
      - ingredients.each do |ingredient|
        %tr
          %td
            = ingredient.id
          %td
            = link_to ingredient.name, ingredient_path(ingredient)
          %td
            = ingredient.composition
          %td
            = ingredient.description
          %td
            = ingredient.is_warning ? 'Yes' : 'No'
- else
  %p.lead No Ingredients Available


