%h1
  = @ingredient.name

= render partial: 'ingredients/actions', locals: { ingredient: @ingredient }

.row
  .col
    %h2 Attributes
    %p.lead
      %strong ID:
      = @ingredient.id
    %p.lead
      %strong Name:
      = @ingredient.name
    %p.lead
      %strong Composition:
      = @ingredient.composition
    %p.lead
      %strong Description:
      = @ingredient.description
    %p.lead
      %strong Source:
      = link_if_present(@ingredient.source)
    %p.lead
      %strong Warning?:
      = @ingredient.is_warning ? 'Yes' : 'No'
