%h1
  = @food.name || 'Unnamed Food'

= render partial: 'foods/actions', locals: { food: @food }

.row
  .col
    %h2 Attributes
    %p.lead
      %strong UPC:
      = @food.upc
    %p.lead
      %strong Name:
      = @food.name

    %h2 Nutrition Facts

    %h2 Ingredients
    = render partial: 'ingredients/table', locals: { ingredients: @ingredients }
